/* App container default styles */
.app-container {
    transition: transform 0.5s ease;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
  }
  
  /* Rotate the screen when the button is clicked on mobile view */
  .app-container.rotated {
    transform: rotate(90deg);
    width: 100vh;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  /* Rotate button styling */
  .rotate-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10000000;
    padding: 20px 10px;
    background-color: #2c1d00;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .app-container.rotated .rotate-button{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 10000000;
    padding: 20px 10px;
    background-color: #2c1d00;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .rotate-button:hover {
    background-color: #251a02;
    transition: all 0.3s ease-in-out;
    transform: scaleX(1.5);
    transform: scaleY(1.5);
  }
  
  /* Hide the rotate button on screens wider than 500px */
  @media (min-width: 501px) {
    .rotate-button {
      display: none;
    }
  }
  